## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [1]:
import pandas as pd

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil.

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [2]:
dfgas00= pd.read_csv('/content/gasolina_2000+.csv',index_col=0)

dfgas10= pd.read_csv('/content/gasolina_2010+.csv',index_col=0)

df=pd.concat([dfgas00,dfgas10])

<ipython-input-2-00d0ea8ce438>:3: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  dfgas10= pd.read_csv('/content/gasolina_2010+.csv',index_col=0)

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [3]:
df.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [5]:
dtype=df['DATA INICIAL'].info() #Resposta: Object.

<class 'pandas.core.series.Series'>
Index: 120823 entries, 0 to 120822
Series name: DATA INICIAL
Non-Null Count   Dtype
--------------   -----
120823 non-null  object
dtypes: object(1)
memory usage: 1.8+ MB

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [6]:
df['DATA INICIAL']=pd.to_datetime(df['DATA INICIAL'])
df['DATA FINAL']=pd.to_datetime(df['DATA FINAL'])

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [7]:
df['MÊS']=df['DATA FINAL'].dt.month
df['ANO'] = df['DATA FINAL'].dt.year

In [8]:
df['ANO']=df['ANO'].astype(str)
df['MÊS']=df['MÊS'].astype(str)

In [9]:
df['ANO-MÊS']=df['ANO']+'-'+df['MÊS']

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [10]:
df['PRODUTO'].value_counts()

PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [11]:
dg= df[df['PRODUTO']=='GASOLINA COMUM']

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [12]:
dg8=dg[dg['ANO']=='2008']

In [13]:
dga8=dg8[dg8['MÊS']=='8']

In [14]:
dga8['PREÇO MÉDIO REVENDA'].mean()

2.6012444444444442

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [15]:
dg14=dg[dg['ANO']=='2014']

In [16]:
dgm14=dg14[dg14['MÊS']=='5']

In [17]:
dgm14['PREÇO MÉDIO REVENDA'].mean()

3.030444444444444

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [18]:
states=[]
for idx,row in dg.iterrows():
  if row['PREÇO MÉDIO REVENDA']>=5:
    if row['ESTADO'] not in states:
     states.append(row['ESTADO'])
     states.append(row['ANO'])

In [19]:
states

['ACRE',
 '2018',
 'RIO DE JANEIRO',
 '2018',
 'TOCANTINS',
 '2018',
 'RIO GRANDE DO NORTE',
 '2021',
 'DISTRITO FEDERAL',
 '2021',
 'ALAGOAS',
 '2021',
 'BAHIA',
 '2021',
 'CEARA',
 '2021',
 'MATO GROSSO DO SUL',
 '2021',
 'MINAS GERAIS',
 '2021',
 'PARA',
 '2021',
 'PIAUI',
 '2021',
 'RIO GRANDE DO SUL',
 '2021',
 'AMAZONAS',
 '2021',
 'ESPIRITO SANTO',
 '2021',
 'GOIAS',
 '2021',
 'MARANHAO',
 '2021',
 'PARAIBA',
 '2021',
 'PERNAMBUCO',
 '2021',
 'RONDONIA',
 '2021',
 'SANTA CATARINA',
 '2021',
 'SERGIPE',
 '2021',
 'MATO GROSSO',
 '2021',
 'PARANA',
 '2021',
 'RORAIMA',
 '2021',
 'SAO PAULO',
 '2021']

### 11. Qual a média de preço dos estados da região sul em 2012?

In [20]:
dgs=dg[dg['REGIÃO']=='SUL']

In [21]:
ds12=dgs[dgs['ANO']=='2012']

In [22]:
ds12['PREÇO MÉDIO REVENDA'].mean()

2.7214423076923073

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [23]:
drj=dg[dg['ESTADO']=='RIO DE JANEIRO']
drj['PREÇO MÉDIO REVENDA'].astype(float)
drj2=pd.DataFrame()
drj2['ANO']=drj['ANO']
drj2['PREÇO MÉDIO REVENDA']=drj['PREÇO MÉDIO REVENDA']
drj=drj.set_index('ANO')

In [24]:
drj2=drj2.groupby('ANO').sum()
c=0
prices=[]
for idx,row in drj2.iterrows():
  prices.append(row['PREÇO MÉDIO REVENDA'])
  c+=1

In [25]:
c=0
a=5
for p in prices:
  c+=1
  try:
     print(((prices[c]-prices[c-1])/prices[c-1])*100,'%')
  except:
    print('Fim da lista')
  a+=1

66.40343778776123 %
11.673709628735287 %
-1.1434706549241285 %
0.5787283166752745 %
-3.157139620931822 %
7.357562242200724 %
9.04092675309584 %
-1.1896118774686453 %
4.999089971485771 %
4.562701026559581 %
10.769939215325104 %
15.092760419264891 %
2.735503756501641 %
18.34989686855429 %
0.00039609607706634405 %
-17.01938882617392 %
-51.98117395475831 %
Fim da lista